 <div class="user-details">
  <h1> About Me </h1>
  <p> I am currently pursuing a master's degree in Robotics with a minor in Artificial Intelligence at Oregon State University. My academic journey is driven by a passion for assistive technologies, particularly those aimed at improving the quality of life for individuals with motor impairments. With a background in bioengineering and biomedical engineering, I am expanding my expertise in robotics and AI while also taking kinesiology courses to deepen my understanding of human physiology and movement. This interdisciplinary approach enables me to design more effective and intuitive rehabilitative and assistive technologies. Much of my academic and industrial experience has been focused on enhancing human quality of life, and I am committed to using my knowledge to create impactful solutions in robotics and healthcare.</p>
<!--
</div>

  <div class="user">
    <div class="tech">
      <h2>Robotics</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Biomechanics</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Artificial Intelligence</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
-->
