<div class="user-details">
  <h1>Hobbies</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="judo" src="{{ "/assets/img/judo.jpg" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents">
    <h3>Judo</h3>
    <p>Developed discipline and mental toughness through rigorous training, improved physical strength, flexibility, and coordination, and competed in local tournaments.</p>
    <ul>
      <li>2nd Place in 68th Obukan Judo Tournament in Novice Senior Men’s Heavy Division (2024)</li>
      <li>2nd Place in Oregon State University Judo Tournament in Novice Senior Men’s Heavy Division (2024)</li>
    </ul>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="electric guitar" src="{{ "/assets/img/guitar.png" | prepend: site.baseurl }}" style="width: 300px; height: auto;" />
  </div>
  <div class="contents-right">
    <h3>Electric Guitar</h3>
    <p>I am a self-taught electric guitarist with a passion for blues, hard rock, and heavy metal. I created and performed an original 10-minute set at my sister's wedding, showcasing my unique style and musical creativity while sharing my love for music with loved ones. Continually developing music theory and improvisation skills</p>
    <ul>
      <li>Heavily Modified 2017 Epiphone Les Paul</li>
      <ul>
        <li>Slash alnico II pickups</li>
        <li>500k Pots</li>
        <li>Sanded neck</li>
        <li>Custom wiring</li>
        <li>Stainless steel frets</li>
        <li>Bone nut</li>



    </ul>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="cars" src="{{ "/assets/img/car.jpg" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents">
    <h3>Cars</h3>
    <p>I am passionate about car modifications and performance enhancements, with hands-on experience in engine tuning and mechanical repairs. I enjoy attending car shows, where I can showcase my work and connect with fellow enthusiasts.</p>
    <ul>
      <li>2007 Subaru Forester XT</li>
      <ul>
        <li>Cold air intake</li>
        <li>Boost controller</li>
        <li>Fully custom exhaust</li>
        <li>Custom open source tune</li>
        <li>BC Racing Coilovers</li>
        <li>MOTEGI RACING MR118 wheels</li>
      </ul>
    </ul>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="rugby" src="{{ "/assets/img/rugby.png" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents-right">
    <h3>Rugby</h3>
    <p> I played rugby for over a decade as part of competitive school and club teams. I have had the opportunity to go on overseas tours to Hong Kong and Thailand to represent the school. I have numerous national and regional competitions and received personal awards, including Best Player. Over the years, I have faced many injuries, including tearing both ACL ligaments. Despite these setbacks, I showed resilience and commitment, making a successful return to playing. I also gained team leadership experience as a forward pack leader and developed strategic thinking and collaboration skills on the field.</p>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="Photography" src="{{ "/assets/img/Photog.png" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents">
    <h3>Photography</h3>
    <p>I am passionate about photography. Capturing fleeting moments of beauty, emotion, and storytelling is something I find incredibly fulfilling. Through the lens, I explore the interplay of light, color, and perspective to create images that evoke a sense of wonder and connection.</p>
    <ul>
      <li>Camera Gear</li>
      <ul>
        <li>Canon EOS 80D</li>
        <li>EF-S 18-55mm and EF 75-300mm Lens</li>
      </ul>
    </ul>
  </div>
</div>


