<div class="user-details">
  <h1> hobbies </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="judo" src="{{ "/assets/img/judo.jpg" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents">
    <h3> judo</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="electric guitar" src="{{ "/assets/img/guitar.png" | prepend: site.baseurl }}" style="width: 300px; height: auto;" />
  </div>
  <div class="contents-right">
    <h3> electric guitar</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cars" src="{{ "/assets/img/car.jpg" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents">
    <h3> cars </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="rugby" src="{{ "/assets/img/rugby.png" | prepend: site.baseurl }}" style="width: 500px; height: auto;" />
  </div>
  <div class="contents-right">
    <h3> rugby</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>