<div class="user-details">
  <h1>Military Service</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Singapore Armed Forces" src="{{ "/assets/img/mil.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Singapore Armed Forces, Sea Terminal Operator</h3>
    <ul>
      <li>Leadership, duty, persistence, innovation </li>
    </ul>
    <p>
      • Performed duties within a specialized unit that aids the Republic of Singapore Navy in loading various land vehicles onto Naval Landing Ship Tanks via crane operation and precision marshalling.<br>
      • Deployed for overseas exercises.<br>
      • Obtained Marksmanship and Physical Proficiency Badges.<br>
      • Obtained Best Soldier Award.<br>
      • Obtained Company Best Shot Award for shooting proficiency.<br>
      • Obtained Outstanding Conduct – Given to servicemen who go over and above their call of duty in their day-to-day work, performance or display exemplary attitude, commitment, and impressive personal qualities in their conduct.<br>
      • Attained the rank of Corporal First Class – the highest attainable enlistee(non officer) rank in the Singapore Armed Forces, awarded to the top 30% of the cohort.<br>
      • Trained to operate 5 Ton Man Truck 16.284 LAERC, Light Transporter 6 Ton 18.280 TGM 4X4, Ops Utility Vehicle, Combat Ambulance
    </p>
    <p>
      <strong>Responsibilities included:</strong>
      <ul>
        <li>Battalion Innovation In-Charge</li>
        <li>Company Stores 2nd In-Charge</li>
        <li>Auxiliary Instructor</li>
      </ul>
    </p>
  </div>
</div>
