<div class="user-details">
  <h1> Other Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Nitinol Actuated Exo-Glove </h3>
    <ul>
      <li> Assistive technology, mterial science, design</li>
    </ul>
    <p>Designed and built an exo-skeletal glove utilizing Nitinol actuators to provide assistive support for individuals with impaired hand function. The project focuses on creating a lightweight, wearable device that enhances hand mobility and grip strength through controlled actuation, leveraging the unique properties of Nitinol for responsive andenergy-efficient movement.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/retech.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Upper Extremity Assistive System</h3>
    <ul>
      <li> Robotics, motion capture, custom fabrication</li>
    </ul>
    <p>The ReTech system is an assistive device designed to aid individuals with upper body limitations from nerve disorders or physical trauma. Using a 6-degree-of-freedom Kinova robotic arm with custom mounts, it guides users' forearms along pre-planned paths for tasks like lifting a water bottle or operating a drill. Motion capture technology records movements to optimize task trajectories. The ReTech device enhances user independence and improves daily activity performance.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cars" src="{{ "/assets/img/nerf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Autonomous Nerf Gun Firing System</h3>
    <ul>
      <li> Robotics, computer vision, custom fabrication</li>
    </ul>
    <p>Designed and developed a robotic arm with a toy Nerf gun to autonomously fire darts at a target detected by a camera. The Nerf gun was mounted using a 3D-printed holder, and a string was used to activate the trigger by opening the robot's gripper. Custom code controlled the robot's movement using inverse kinematics and computer vision to locate the target, calculate its position, and fire at it accurately.</p>
  </div>
</div>


<div class="user-projects">
  <h3 class="specific-project-title">Wave Bot</h3>
  <ul>
    <li>Robotics, computer vision, human-robot interaction</li>
  </ul>
  <p>Developed a Kinova Jaco robotic arm that interacts with humans by detecting hand movements through OpenCV and a webcam. The arm was programmed to respond by either waving back or adopting a 'sad' posture, depending on the number of hands detected within its workspace.</p>
</p>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="picar" src="{{ "/assets/img/picar.jpg"| prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Autonomous Navigation of PiCar Using Line-Following and Obstacle Avoidance </h3>
    <ul>
      <li> Robotics, computer vision, sensors, custom software</li>
    </ul>
    <p>Programmed a PiCar to navigate autonomously using line-following and obstacle avoidance techniques. The project combined ultrasonic sensors and computer vision to enhance navigation. The PiCar was designed to detect and follow a predefined path while identifying obstacles in its surroundings. Ultrasonic sensors measured distance to nearby objects, allowing real-time adjustments to their trajectory. Additionally, computer vision was used to recognize lines and navigate complex paths effectively. This project demonstrated the integration of hardware and software in creating a responsive autonomous vehicle.</p>
  </div>
</div>