<div class="user-details">
  <h1>Research Experience</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="scaphoid" src="{{ "/assets/img/cay.png" | prepend: site.baseurl }}" style="width: 400px; height: auto;" />
  </div>
  <div class="contents">
    <h3>Evaluating the effect of proximal pole scaphoid excision on carpal kinematics in collaboration with Good Samaritan Hospital (Oregon).</h3>
    <ul>
      <li>Robotics, biomechanics, motion capture, experimental design</li>
    </ul>
    <p>This project employs a 6-degree-of-freedom (6DOF) Kinova robotic arm to simulate carpal movement in fresh frozen cadavers, which are mounted on a purpose-built testbed designed to replicate physiological loads. Motion capture pins are strategically placed on specific locations of the carpal bones to assess carpal instability following sequential scaphoid excision. The aim of this research is to enhance current surgical practices and increase accessibility for the treatment of scaphoid bone fractures.</p>
    <a href="{{ "/assets/pdfs/Effects_of_Incremental_Scaphoid_Proximal_Pole_Excision_on_Carpal.pdf" | prepend: site.baseurl }}" target="_blank" class="btn">Oregon Bioengineering Symposium 2024 Abstract</a>
    <a href="{{ "/assets/pdfs/OBS_2024_Ajay_Ratty.pdf" | prepend: site.baseurl }}" target="_blank" class="btn">Oregon Bioengineering Symposium 2024 Podium Presentation Slides</a>
  </div>
</div>

<div class="user-projects">
  <h3 class="specific-project-title">Validation of a Novel Tendon-Mounted Implant in Human Cadavers: Assessment of Finger Flexion and Grip Strength.</h3>
  <ul>
    <li>Experimental design, cadaveric studies</li>
  </ul>
  <p>This project validates a novel tendon-mounted implant aimed at improving finger flexion and grip strength. Using a 6-degree-of-freedom (6DOF) Kinova robotic arm and a 6DOF force sensor, we measure grip strength while applying various loads to the finger flexors in human cadavers. The findings will help develop better implants for individuals with impaired hand function.</p>
</div>


<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/pdfs/microneedleposter.pdf" | prepend: site.baseurl }}" target="_blank">
      <img alt="microneedle" src="{{ "/assets/img/need_pre.png" | prepend: site.baseurl }}" style="width: 800px; height: auto;" />
    </a>
  </div>
  <div class="contents">
    <h3>Porous Microneedle Patches for Therapeutic Monitoring of Parkinson’s Treatments</h3>
    <ul>
      <li>Bioengineering, arduino, rapid prototyping, imaging</li>
    </ul>
    <p>Team developed a Point-of-Care diagnostic device for determining concentrations of drugs used to treat Parkinson’s disease. Prototyped several aspects of the device, including the microneedle array, the microneedle wicking pad, the applicator device, and the imaging apparatus.</p>
    <a href="{{ "/assets/pdfs/microneedleposter.pdf" | prepend: site.baseurl }}" target="_blank" class="btn">OSU College of Engineering Expo Poster</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/pdfs/frictionposter4.pdf" | prepend: site.baseurl }}" target="_blank">
      <img alt="frictional-forces" src="{{ "/assets/img/fric_pre.png" | prepend: site.baseurl }}" style="width: 800px; height: auto;" />
    </a>
  </div>
  <div class="contents">
    <h3>Evaluating frictional forces at tendon-implant interface with varying non-fouling coatings.</h3>
    <ul>
      <li>Mechanical engineering, CAD, testbed design, experimental design</li>
    </ul>
    <p>Designing and building testbeds and fixtures using aluminum and 3D printed parts to evaluate the frictional forces at the tendon-implant interface using FAULHABER motors and Futek Beam Load cells. These experiments were conducted with freshly excised extensor digitorum communis (EDC) tendons from white New Zealand rabbits.</p>
    <a href="{{ "/assets/pdfs/frictionposter4.pdf" | prepend: site.baseurl }}" target="_blank" class="btn">Northwest Biomechanics Symposium Poster</a>
  </div>
</div>

<div class="user-projects">
  <h3 class="specific-project-title">Image analysis of gynecological cancer cells.</h3>
  <ul>
    <li>Bioengineering, imaging</li>
  </ul>
  <p>Performing measurements for invasion depth for different cervical cancer cell lines and measuring cell coverage area and tube formation using Fiji (image J) as well as collaborating with other graduate and undergraduate students to classify, sort and label images for the development of a machine learning code that will optimize the time to analyze invasion in different images.</p>
</div>

<div class="user-projects">
  <h3 class="specific-project-title">Qualitative analysis of transcriptomic data.</h3>
  <ul>
    <li>Bioengineering, imaging, machine learning</li>
  </ul>
  <p>Assisted the lead author in conducting a qualitative pathway analysis of transcriptomic data using custom Python scripts run through Jupyter Notebook. This analysis characterized different genes at various stages of endometriosis, contributing valuable insights to the research. The findings were incorporated into a master’s thesis defense titled “Developing a Modular Analysis Pipeline to Identify Critical Matrisome Components in Gynecological Disease.”
  </p>
</div>


<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/pdfs/fireposter.pdf" | prepend: site.baseurl }}" target="_blank">
      <img alt="fire" src="{{ "/assets/img/fire_pre.png" | prepend: site.baseurl }}" style="width: 800px; height: auto;" />
    </a>
  </div>
  <div class="contents">
    <h3>Upgrading wildfire-resistant shelters with a superabsorbent polymer layer.</h3>
    <ul>
      <li>Chemical engineering, experimental design</li>
    </ul>
    <p>Developed experiments to assess the effectiveness of superabsorbent polymers in a deployable protective layer for individuals in wildfire situations. The experiments included absorption and burn tests, demonstrating that the superabsorbent polymer layer could absorb 100 times its own weight in water and reduce heat influx by 97%.</p>
    <a href="{{ "/assets/pdfs/fireposter.pdf" | prepend: site.baseurl }}" target="_blank" class="btn">OSU College of Engineering Expo Poster</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/pdfs/fireposter.pdf" | prepend: site.baseurl }}" target="_blank">
      <img alt="fire" src="{{ "/assets/img/fire_pre.png" | prepend: site.baseurl }}" style="width: 800px; height: auto;" />
    </a>
  </div>
  <div class="contents">
    <h3>Upgrading wildfire-resistant shelters with a superabsorbent polymer layer.</h3>
    <ul>
      <li>Chemical engineering, experimental design</li>
    </ul>
    <p>Developed experiments to assess the effectiveness of superabsorbent polymers in a deployable protective layer for individuals in wildfire situations. The experiments included absorption and burn tests, demonstrating that the superabsorbent polymer layer could absorb 100 times its own weight in water and reduce heat influx by 97%.</p>
    <a href="{{ "/assets/pdfs/fireposter.pdf" | prepend: site.baseurl }}" target="_blank" class="btn">OSU College of Engineering Expo Poster</a>
  </div>
</div>

<div class="other-projects">
  <h3>Other Research Projects</h3>
  <ul>
    <li>
      LED array for infrared (IR) therapy to assist healing of tissues
      <ul>
        <li>Fully functional wearable device encompassing a LED array that emits a certain wavelength of infrared light that promotes cellular proliferation and angiogenesis to promote healing of tissues. Participated in Tan Kah Kee Innovation Competition on a national level.  </li>
      </ul>
    </li>
    <li>
      Wearable glucosamine cream dispenser.
      <ul>
        <li>Designed and developed the mechanism that would be a part of a wearable device that dispenses specific amounts of URAH glucosamine cream at pre-determined time intervals.</li>
      </ul>
    </li>
    <li>
      Parkinson’s diagnostic device.
      <ul>
        <li>Developed a wearable device with accelerometers and gyroscope sensors that would be capable of capturing data pertaining to tremors exhibited by Parkinson’s patients that would serve as a diagnostic and continuous monitoring device for Parkinson’s.</li>
      </ul>
    </li>
  </ul>
</div>